<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>858627221119-801jgun8nju3aa9tane0llp3k5kiiail.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.858627221119-801jgun8nju3aa9tane0llp3k5kiiail</string>
	<key>API_KEY</key>
	<string>AIzaSyDff6_dlrG1WlHtRTKL3S5C-zKAE4mlG88</string>
	<key>GCM_SENDER_ID</key>
	<string>858627221119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.watchamovie</string>
	<key>PROJECT_ID</key>
	<string>movies-281612</string>
	<key>STORAGE_BUCKET</key>
	<string>movies-281612.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858627221119:ios:be9d21ccbc61d8227ec14a</string>
	<key>DATABASE_URL</key>
	<string>https://movies-281612.firebaseio.com</string>
</dict>
</plist>